body{
    /* background-color: #f2f6fc; */
    background-color: #b5bfce;
}
.input-wrapper {
    /* background-color: #353b48; */
    background-color: #404144;
    width: 100%;
    border-radius: 10px;
    height:  2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}
input:focus {
    outline: none;
}
#search-icon {
    color: white;
    margin-right: 5px;
}
.search-input{
    background-color: #404144;
    /* background-color: #353b48; */
    color: white;
}

.sort-approve{
    border:1px solid #000000;
    border-radius:3px;
    outline:none;
}

.button-approve {
    background-color: green;
    color: white;
}

.button-disapprove {
    background-color: red;
    color: white;
}


.Htr-link {
    text-decoration: none;
}
.Htr-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:3px;
    outline:none;
    box-sizing:border-box;
}
.Htr-icon{
    margin-right: 10px;
}
